body {
    font-family: Loubag, poppins;
    margin: 0;
    background-color: #fdf6f9;
}

header {
    background-color: #d48ca3;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #f2c1d1;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    padding: 30px;
}

.produk {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #d48ca3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #d48ca3;
    color: white;
    padding: 15px;
}
